* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  background: #F5F6F7;
  color: #161B30;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
